mixin SidebarBlock(title, list)
	.headline-box
		+HeadLine(title, 1)
	ul.sidebad-menu
		for item in list
			li
				a(href="#")
					span=item
mixin ulli(txt, color)
	ul(class=color)
		for item in txt
			li=item
mixin HeadLine(headln, forwhat)
	case forwhat
		when 0
			span.common-title.common-title_main=headln
		when 1
			span.common-title.common-title_sidebar-direct=headln
		default
			span.common-title=headln