mixin SidebarBlock(title, list)
	.headline-box
		+HeadLine(title, 1)
	ul.sidebad-menu
		for item in list
			li
				a(href="#")
					span=item
mixin ulli(txt, color)
	ul(class=color)
		for item in txt
			li=item
mixin HeadLine(headln, forwhat)
	case forwhat
		when 0
			span.common-title.common-title_main=headln
		when 1
			span.common-title.common-title_sidebar-direct=headln
		default
			span.common-title=headln
mixin tovarItem(image, title, description, underline)
	.tovar-item
		.tovar-item_imgbox
			img(src='img/'+image)
		- var titleVar = title
		span.tovar-item_title !{titleVar}
		span.tovar-item_description=description
