mixin SidebarBlock(title, list, mode)
	.headline-box
		+HeadLine(title, mode)
	ul.sidebad-menu
		for item in list
			li
				a(href="#")
					span=item
mixin ulli(txt, color)
	ul(class=color)
		for item in txt
			li=item
mixin HeadLine(headln, forwhat)
	case forwhat
		when 0
			span.common-title.common-title_main=headln
		when 1
			span.common-title.common-title_sidebar-direct=headln
		when 2
			span.common-title.common-title_sidebar-direct.common-title_sidebar-traeng=headln
		default
			span.common-title=headln
mixin tovarItem(image, title, description, underlineTitle,underlineDescription, tovarpadding)
	if tovarpadding=='false'
		.tovar-item
			a(href="#")
				.tovar-item_imgbox
					img(src='img/'+image)
					- var titleVar = title
				if underlineTitle=='false'
					span.tovar-item_title !{titleVar}
				else
					span.tovar-item_title.tovar-item_title_underline !{titleVar}
				if underlineDescription=='false'
					span.tovar-item_description=description
				else
					span.tovar-item_description.tovar-item_description_underline=description
	else
		.tovar-item.tovar-item_padding
			a(href="#")
				.tovar-item_imgbox
					img(src='img/'+image)
					- var titleVar = title
				if underlineTitle=='false'
					span.tovar-item_title !{titleVar}
				else
					span.tovar-item_title.tovar-item_title_underline !{titleVar}
				if underlineDescription=='false'
					span.tovar-item_description=description
				else
					span.tovar-item_description.tovar-item_description_underline=description

mixin rateTable(list)
	table
		each val, key in list
			tr
				td=val[0]
				td=val[1]
mixin rate(title, subtitle, description, list)
	.rate
		span.rate-title=title
		if subtitle!=''
			span.rate-sub-title=subtitle
		+rateTable(list)
		.rate-descr=description
